/* General Styles */
* {
  color: #3d3121;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
    Tahoma, sans-serif;
    box-sizing: border-box;
    --primary-btn-color: #261e13;

}
:root {
  --h2-font-size: 1.2rem;
  --font-weight-900: 00;
  --spacing-unit: 2rem;
  --heading-size: 2rem;
  --h1-font-size:3rem;
}
.bg-dark{
    background-color: #261e13 !important;
}

/* Hero Section */
h1{
    font-size: var(--h1-font-size);
}
.heading h2 {
  font-size: var(--h2-font-size);
  font-weight: 500;
}
.avatar img {
  -webkit-mask: url(https://i.ibb.co/mBrmH0k/Mf15d.png) center/contain no-repeat;
  background-color: burlywood;
}

/* About */
.about{
    background-color: #fcf8f3;
}
.about h2, .projects h2{
font-size: var(--heading-size);
font-weight: var(--font-weight-900);
}
/* Projects Section */
.project-img .img-fluid{
    height: 254px;
}
/* Contact */

.submit-btn{
  color: #ffffff;
  background-color: var(--primary-btn-color);
}